.services__container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.service__card {
  background: #1f1f1f;
  padding: 1.5rem;
  border-radius: 1rem;
  text-align: center;
  flex: 1 1 250px;
}
.service__icon {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;

  color: white;
  border-radius: 0.5rem;
  text-decoration: none;
}
